#banner{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner__imagem{
    width: 100vw;
    height: 350px;
    object-fit:cover;
    opacity: 0;
    transition: .7s;
    
}

.banner__conteudo{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position:absolute;
    color: var(--cor-titulo);
    font-family: var(--fonte);
    opacity: 0;
    transition: 1s;
}

.banner__titulo{
    font-size: 32px;
    font-weight: 500;

}

.banner__descricao{
    text-align: center;
    color: #fefefe;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: .3rem;
    text-shadow: .5px 0px 0 black;

}

@media screen and (min-width:1220px) {
    .banner__titulo{
        font-size: 50px;
        font-weight: 600;
    }

    .banner__descricao{
        font-size: 33px;
    }

    .banner__imagem{
        height: 450px;

        object-position: 0px 60%;
    }
}