@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat&family=Oswald:wght@311&family=Poppins:wght@200;300;400;500&family=Raleway:wght@300;400;500&display=swap');

body{
    position: relative;
    font-family: var(--fonte);
    font-size: 18px;
    background-color: var(--cor-fundo);
    min-height: 100vh; 
}

body::-webkit-scrollbar{
    width: 13px;
}

body::-webkit-scrollbar-track{
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(146, 101, 18);
    border: 3px solid var(--cor-fundo);
    border-radius: 20px;
}