@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat&family=Oswald:wght@311&family=Poppins:wght@200;300;400;500&family=Raleway:wght@300;400;500&display=swap');

body{
    position: relative;
    font-family: var(--fonte);
    font-size: 18px;
}