footer{
    align-items: center;
    background: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    font-size: 18px;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 0 1.7rem;
    text-align: center;
    gap: 1rem;
}

footer img{
    width:64px;
}